<div class="center-container">
  <h1>Chat room</h1>
  <div id="messages" class="message-board">
    <%= render @messages %>
  </div>


  <form class="input-form">
    <label>Say something:</label>
    <span>
      <input type="text" data-behavior="room_speaker">
    </span>
  </form>
</div>
