<div class="center-container">
  <h1>Chit Chat</h1>
  <h3>Chat rooms and such</h3>
  <br>
  <div>
    <%= link_to "Sign Up", new_user_path %>
  </div>
  <div>
    <%= link_to "Sign In", signin_path%>
  </div>

</div>